body {
    background: #f4f7fb;
    font-family: Arial, sans-serif;
}

.box {
    width: 800px;
    margin: 70px auto;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    font-size: 17px;
    background: #4c6ef5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #3b5bdb;
}

#output {
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}
